/*
- кастомные цвета
- глобальные стили
- стили header (в т.ч. выпадающие меню, формы, корзина)
- слайдер
- стили index. html раздел main: баннеры, хиты, CEO, новости, подписка, карта
- стили футер
- popup
- хлебные крошки
- фильтр
- товары
- пагинация
*/

:root {
  --page-bg-1: #849D8F;
  --page-bg-2: #8996A6;
  --page-bg-3: #9D8B84;
  --basic: #FFFFFF;
  --dark: #323232;
  --halflight: #5A5A5A;
  --overlay: rgba(0, 0, 0, 0.3);
  --offer-bg-raspberry: #83112E;
  --offer-bg-chocolate: #48261B;
  --features-bg: #EEDFC2;
  --link-active-light: #FFBC9E;
  --link-active-dark: #E84D37;
  --interactive-bg-basic: rgba(255, 255, 255, 0.2);
  --underline-basic-light: rgba(255, 255, 255, 0.3);
  --underline-basic-dark: rgba(50, 50, 50, 0.3);
  --underline-active-light: rgba(255, 188, 158, 0.3);
  --underline-active-dark: rgba(232, 77, 55, 0.3);
  --btn-shadow-basic: rgba(172, 16, 0, 0.64);
  --btn-shadow-hover: #AC1000;
  --btn-shadow-active: #942718;
  --btn-text-shadow: rgba(160, 32, 11, 0.76);
  --social-border-basic: rgba(255, 255, 255, 0.5);
  --toggle-bg-hover: rgba(255, 255, 255, 0.4);
  --contacts-bg-basic: #FEFEFE;
  --form-bg-basic: #F8F7F4;
  --form-shadow: rgba(0, 0, 0, 0.4);
  --dropdown-input-border: #D3D3D2;
  --input-border-basic: rgba(178, 178, 178, 0.52);
  --input-border-active: rgba(46, 136, 228, 0.52);
  --placeholder-text: #999999;
  --nav-shadow-active: #696969;
  --nav-bg-active: #EDEDED;
  --nav-bg-onpage: #D07058;
  --dropdownlink-bg-hover: #FBDED7;
  --dropdownlink-bg-active: #F6B5A5;
  --dropdown-separate: rgba(50, 50, 50, 0.2);
  --basket-text-weight: #000000;
  --basket-text-price: #ABABAB;
  --basket-separate: #CACAC7;
  --price-text-shadow: rgba(49, 50, 53, 0.5);
}

body {
  min-width: 1200px;
  margin: 0 auto;
  padding: 9px 27px;
  font-size: 16px;
  line-height: 1.375;
  font-family: Roboto, Arial, sans-serif;
  color: var(--basic);
  background-color: var(--page-bg-1);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.light-1 {
  background-color: var(--page-bg-1);
}

.light-2 {
  background-color: var(--page-bg-2);
}

.light-3 {
  background-color: var(--page-bg-3);
}

.light-1:before,
.light-2:before,
.light-3:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -2;
  margin: auto;
  width: 716px;
  height: 716px;
  -webkit-filter: blur(250px);
}

.light-1:before {
  background-color: rgba(215, 242, 227, 0.75);
}

.light-2:before {
  background-color: rgba(218, 228, 239, 0.75);
}

.light-3:before {
  background-color: rgba(239, 224, 218, 0.75);
}

.catalog {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  background-size: auto 656px;
  background-position: top center;
  background-repeat: no-repeat;
}

.wrapper {
  width: 1146px;
  margin: 0 auto;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {

}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav .logo {
  margin-right: 11px;
}

.logo__image {
  display: block;
}

.main-nav {
  margin-right: auto;
}

.main-nav__link,
.user-nav__link {
  color: var(--basic);
}

.main-nav__link {
  padding: 6px 13px;
  font-weight: 700;
  line-height: 1.25;
  text-decoration: underline var(--underline-basic-light);
  border-radius: 26px;
}

.main-nav__link:not(:last-of-type) {
  margin-right: 6px;
}

.user-nav__link {
  padding: 7px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25;
  background-repeat: no-repeat;
  background-color: var(--interactive-bg-basic);
  border-radius: 20px;
}

.user-nav__link:not(:last-of-type) {
  margin-right: 10px;
}

.main-nav__link:hover,
.main-nav__link:focus,
.user-nav__link:hover,
.user-nav__link:focus {
  color: var(--dark);
  background-color: var(--basic);
}

.main-nav__link:active,
.user-nav__link:active {
  color: var(--dark);
  background-color: var(--nav-bg-active);
  box-shadow: inset 0px 2px 1px var(--nav-shadow-active);
}

.main-nav__link--active,
.dropdown__link--active {
  background-color: var(--nav-bg-onpage);
}

.user-nav__link--search {
  background-image: url("../img/search-icon.svg");
  background-position: center;

}

.user-nav__link--search:hover,
.user-nav__link--search:focus,
.user-nav__link--search:active {
  background-image: url("../img/search-black-icon.svg");
}

.user-nav__link--login,
.user-nav__link--basket,
.user-nav__link--basket-full {
  background-position: 16px center;
  padding-left: 45px;
}

.user-nav__link--login {
  background-image: url("../img/login-icon.svg");
}

.user-nav__link--login:hover,
.user-nav__link--login:focus,
.user-nav__link--login:active {
  background-image: url("../img/login-black-icon.svg");
}

.user-nav__link--basket {
  background-image: url("../img/basket-icon.svg");
}

.user-nav__link--basket:hover,
.user-nav__link--basket:focus,
.user-nav__link--basket:active {
  background-image: url("../img/basket-red-icon.svg");
}

.user-nav__link--basket-full {
  color: var(--dark);
  background-image: url("../img/basket-red-icon.svg");
  background-color: var(--basic);
}

.input,
.textarea {
  padding: 10px 13px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.375;
  color: var(--dark);
  background-color: var(--basic);
  border: 1px solid var(--input-border-basic);
  border-radius: 4px;
}

.input:hover,
.input:focus,
.textarea:hover,
.textarea:focus {
  padding: 9px 12px;
  border: 2px solid var(--input-border-basic);
}

.input:active,
.input:focus-within,
.textarea:active,
.textarea:focus-within {
  padding: 9px 12px;
  border: 2px solid var(--input-border-active);
}

.input:placeholder-shown,
.textarea:placeholder-shown {
  font-weight: 400;
}

.btn {
  padding: 10px 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.375;
  color: var(--basic);
  text-shadow: 0px 2px 5px var(--btn-text-shadow);
  background-image: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  border: none;
  border-radius: 50px;
  box-shadow: 0px 2px 2px var(--btn-shadow-basic);
}

.btn:hover,
.btn:focus {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px var(--btn-shadow-hover);
}

.btn:active {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px var(--btn-shadow-active);
}

.dark-link {
  color: var(--dark);
  text-decoration: underline var(--underline-basic-dark);
}

.dark-link:hover,
.dark-link:focus,
.dark-link:active {
  color: var(--link-active-dark);
  text-decoration: underline var(--underline-active-dark);
}

.light-link {
  color: var(--basic);
  text-decoration: underline var(--underline-basic-light);
}

.light-link:hover,
.light-link:focus,
.light-link:active {
  color: var(--link-active-light);
  text-decoration: underline var(--underline-active-light);
}

.dropdown {
  display: none;
  position: absolute;
  right: 33%;
  top: 100px;
  z-index: 2;
  background-color: var(--form-bg-basic);
  box-shadow: 0px 20px 20px var(--form-shadow);
  border-radius: 4px;
}

.dropdown--sub-nav {
  flex-direction: column;
}

.main-nav__link:hover + .dropdown--sub-nav {
  display: flex;
}

.dropdown__link {
  margin: 2px 0;
  padding: 6px 21px;
  font-size: 14px;
  line-height: 16px;
  color: var(--dark);
}

.dropdown__link--highlight {
  margin: 0;
  padding: 9px 21px;
  border-bottom: 1px solid var(--dropdown-separate);
  line-height: 18px;
  font-weight: 700;
}

.dropdown__link--active {
  color: var(--basic);
}

.dropdown__link:hover,
.dropdown__link:focus {
  background-color: var(--dropdownlink-bg-hover);
}

.dropdown__link:active {
  background-color: var(--dropdownlink-bg-active);
}

.user-nav__link--search:hover + .dropdown--search {
  display: flex;
}

.dropdown--search {
  flex-direction: column;
  padding: 20px 15px;
  width: 341px;
}

.user-nav__link--login:hover + .dropdown--login {
  display: flex;
}

.dropdown--login {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 17px 22px 19px;
  width: 277px;
}

.dropdown__input {
  margin-bottom: 20px;
  flex-grow: 1;
}

.dropdown__btn {
  display: inline-block;
  padding: 10px 26px;
  text-shadow: none;
  border-radius: 26px;
}

.dropdown__extra-links {
  align-self: center;
}

.dropdown__extra-link {
  display: block;
  font-size: 13px;
  line-height: 1.375;
}

.user-nav__link--basket-full:hover + .dropdown--order {
  display: flex;
}

.dropdown--order {
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 15px;
}

.dropdown__basket {
  color: var(--dark);
}

.basket__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 16px;
}

.basket__total {
  padding: 15px 0;
  text-align: right;
  font-size: 15px;
  line-height: 16px;
  font-weight: 700;
  border-top: 1px solid var(--basket-separate);
}

.item__delete-btn {
  margin: 0 6px;
  width: 11px;
  height: 11px;
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
}

.item__img {
  margin: 0 3px;
  border-radius: 50%;
}

.item__title {
  padding: 0 10px;
  width: 247px;
}

.item__quantity {
  padding: 0 10px;
  width: 121px;
  color: var(--basket-text-weight);
}

.item__quantity span {
  color: var(--basket-text-price);
}

.item__price {
  padding: 0 10px;
  width: 80px;
}

.worktime {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: -24px;
  font-size: 14px;
  line-height: 1.375;
  font-weight: 700;
  text-align: right;
}

.worktime__phone {
  font-size: 22px;
}

.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 299px;
  padding-bottom: 40px;
}

.promo__img-list {
  position: absolute;
  top: -16px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

.promo__img {
  display: none;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 1s linear 0s;
}

.promo__img--active {
  display: block;
  opacity: 1;
}

.promo__title-list {
  width: 672px;
  margin: 0 auto;
  margin-bottom: 27px;
  text-align: center;
}

.promo__title {
  display: none;
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
  opacity: 0;
  transition: opacity 1s linear 0s;
}

.promo__title--active {
  display: block;
  opacity: 1;
}

.promo__btn {
  margin: 0 auto;
  padding: 9px 40px;
  font-size: 32px;
  line-height: 1.375;
}

.promo__toggle-list {
  position: absolute;
  left: 0;
  bottom: 63px;
  display: flex;
}

.toggle {
  width: 21px;
  height: 21px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  box-sizing: border-box;
}

.toggle:not(:last-child) {
  margin-right: 8px;
}

.toggle--active,
.toggle:active {
  background-color: var(--basic);
}

.toggle:focus,
.toggle:hover {
  background-color: var(--toggle-bg-hover);
}

.container {
  display: flex;
  flex-direction: column;

}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.offer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 560px;
  min-height: 229px;
  padding: 16px 22px 22px 16px;
  font-weight: 700;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.offer--raspberry {
  background-color: var(--offer-bg-raspberry);
  background-image: url("../img/raspberry-bg.jpg");
}

.offer--chocolate {
  background-color: var(--offer-bg-chocolate);
  background-image: url("../img/chocolate-bg.jpg");
}

.offer__title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 35px;
  line-height: 41px;
}

.offer__text {
  font-size: 18px;
  margin: 0;
  margin-bottom: 38px;
}

.offer__btn {
  padding: 12px 22px;
  border-radius: 70px;
  margin-left: auto;
  margin-top: auto;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 267px);
  column-gap: 26px;
  row-gap: 40px;
  margin-bottom: 40px;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 267px;
}

.product:hover::after {
  content: "";
  position: absolute;
  top: -6px;
  right: -13px;
  bottom: -76px;
  left: -13px;
  z-index: 2;
  background-color: var(--interactive-bg-basic);
  border-radius: 4px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}

.product:hover a {
  z-index: 3;
}

.product--hit::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
  width: 61px;
  height: 61px;
  background-image: url("../img/hit.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--basic);
  border-radius: 50%;
}

.product__img {
  margin-bottom: 15px;
  border-radius: 50%;
  display: block;
}

.product__price {
  position: absolute;
  top: 216px;
  left: 0px;
  z-index: 4;
  margin: 0;
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px var(--price-text-shadow);
}

.product__price span {
  font-size: 30px;
  line-height: 35px;
}

.product__title {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
}

.product__btn {
  display: none;
  z-index: 3;
}

.product:hover .product__btn,
.product:focus .product__btn {
  display: block;
  position: absolute;
  bottom: -55px;
}

.features {
  margin-bottom: 40px;
  padding: 24px 20px;
  color: var(--dark);
  background-color: var(--features-bg);
  background-image: url("../img/waffle-bg.jpg");
  border-radius: 16px;
}

.features__title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
}

.features__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  width: 540px;
  padding: 16px 0 7px 55px;
  background-position: left 7px;
  background-repeat: no-repeat;
}

.features__item--icecream {
  background-image: url("../img/icecream-icon.svg");
}

.features__item--cow {
  background-image: url("../img/cow-icon.svg");
}

.features__item--leaf {
  background-image: url("../img/leaf-icon.svg");
}

.features__item--thermo {
  background-image: url("../img/thermo-icon.svg");
}

.news {
  width: 560px;
  min-height: 220px;
  padding: 23px 253px 23px 20px;
  color: var(--dark);
  background-color: var(--basic);
  background-image: url("../img/strawberry-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.news__text {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
}

.news__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
}

.subscribe {
  width: 560px;
  min-height: 220px;
  padding: 5px 6px;
  background-image: url("../img/post-bg.svg");
  background-size: cover;
  border-radius: 16px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 100%;
  padding: 29px 16px 35px 20px;
  background-color: var(--form-bg-basic);
  border-radius: 16px;
}

.form__text {
  margin: 0;
  color: var(--halflight);
}

.form__input {
  flex-grow: 1;
  margin-right: 10px;
  border-radius: 6px;
}

.form__btn {
  padding: 10px 19px;
  border-radius: 70px;
}

.contacts {
  position: relative;
  margin: 0 calc((100vw - 1200px) / -2);
  color: var(--dark);
}

.contacts__info {
  position: absolute;
  top: 62px;
  right: calc((100vw - 1200px) / 2);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 303px;
  padding: 31px 25px;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--contacts-bg-basic);
  border-radius: 16px;
}

.contacts__info p {
  margin: 0;
  margin-bottom: 24px;
}

.contacts__info b {
  display: block;
  font-size: 18px;
  line-height: 24px;
}

.contacts__btn {
  align-self: center;
  padding: 10px 28px;
  border-radius: 70px;
}

.contacts__map {
  display: block;
  margin: 0 auto;
}

.footer {
  display: flex;
  padding: 17px 0;
  border-top: 1px solid var(--interactive-bg-basic);
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social__item {
  display: block;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  opacity: 0.8;
  border: 2px solid var(--social-border-basic);
  border-radius: 50%;
}

.social__item:not(:last-child) {
  margin-right: 8px;
}

.social__item:hover,
.social__item:focus,
.social__item:active {
  opacity: 1;
}

.social__item--facebook {
  background-image: url("../img/facebook.svg");
}

.social__item--vk {
  background-image: url("../img/vk.svg");
}

.social__item--instagram  {
  background-image: url("../img/instagram.svg");
}

.social__item--twitter {
  background-image: url("../img/twitter.svg");
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  width: 327px;
  margin: 0 auto;
  font-size: 13px;
  line-height: 1.375;
}

.menu__link {
  width: 50%;
}

.menu__link:nth-child(2n+1) {
  padding-left: 22px;
}

.menu__link--spotlight {
  background-image: url("../img/heart.svg");
  background-position: left center;
  background-repeat: no-repeat;
  font-weight: 700;
}

.developer {

}

.developer__logo {
  display: block; /* пока просто чтобы посмотреть на иконки */
  width: 108px;
  height: 39px;
  margin-bottom: 6px;
  background-image: url("../img/htmlacademy-logo.svg");
  background-repeat: no-repeat;
}

.developer__copyright {
  margin: 0;
  font-size: 12px;
  line-height: 1.375;
}

.popup {
  display: none;
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 477px;
  padding: 20px 23px 27px 23px;
  color: var(--dark);
  background-color: var(--form-bg-basic);
  border-radius: 6px;
}

.popup__title {
  margin: 0;
  margin-bottom: 26px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.popup__close-btn {
  position: absolute;
  right: 16px;
  top: 15px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  width: 18px;
  height: 17px;
  border: none;
  background-color: transparent;
  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
}

.popup__form {
  display: flex;
  flex-direction: column;
}

.popup__input {
  width: 267px;
  margin-bottom: 20px;
}

.popup__textarea {
  margin-bottom: 25px;
  min-height: 154px;
  resize: none;
}

.popup__btn {
  padding-left: 24px;
  padding-right: 24px;
  align-self: flex-end;
}

.breadcrumbs {
  margin-right: 230px;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 1.375;
  color: var(--basic);
}

.breadcrumbs__link:not(:last-child) {
  position: relative;
  padding-right: 14px;
  margin-right: 4px;
}

.breadcrumbs__link:not(:last-child)::after {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  width: 6px;
  height: 6px;
  background-image: url("../img/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs__link:not(.breadcrumbs__link--current) {
  text-decoration: underline var(--underline-basic-light);
}

.breadcrumbs__link:not(.breadcrumbs__link--current):hover,
.breadcrumbs__link:not(.breadcrumbs__link--current):focus,
.breadcrumbs__link:not(.breadcrumbs__link--current):active {
  color: var(--link-active-light);
  text-decoration: underline var(--underline-active-light);
}

.page-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 41px;
}

.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.filters__item {
  display: block;
  margin: 14px 15px 0 0;
  padding: 0;
  font-weight: 500;
  border: none;
}

.filters__title {
  margin-left: 16px;
  margin-bottom: 7px;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
}

.filter {
  padding: 9px 16px;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--interactive-bg-basic);
  border-radius: 20px;
}

.filter--sorting {
  padding-right: 35px;
  color: var(--basic);
  border: none;
  -webkit-appearance: none;
  background-image: url("../img/arrow.svg");
  background-position: 171px center;
  background-repeat: no-repeat;
}

.filter--sorting:hover,
.filter--sorting:focus,
.filter--sorting:active {
  color: var(--dark);
  background-image: url("../img/arrow-black.svg");
  background-color: var(--basic);
}

.filters__btn {
  align-self: flex-end;
  padding: 7px 27px;
  margin-top: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic);
  background-color: var(--interactive-bg-basic);
  border: 2px solid var(--basic);
  border-radius: 20px;
}

.filter__btn:hover,
.filter__btn:focus,
.filter__btn:active {
  background-color: var(--form-bg-basic);
  color: var(--dark);
}

.range {
  width: 186px;
  height: 18px;
}

.pagination {
  padding: 40px 0 30px;
  display: flex;
  justify-content: flex-end;
}

.pagination__link {
  width: 26px;
  height: 26px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 26px;
  color: var(--basic);
  border-radius: 50%;
}

.pagination__link:not(:last-child) {
  margin-right: 4px;
}

.pagination__link:first-child,
.pagination__link:last-child {
  background-position: center center;
  background-repeat: no-repeat;
}

.pagination__link:first-child {
  background-image: url("../img/icon-left-small.svg");
}

.pagination__link:last-child {
  background-image: url("../img/icon-right-small.svg");
}

.pagination__link:hover {
  background-color: var(--interactive-bg-basic);
}

.pagination__link:active,
.pagination__link--active {
  color: var(--dark);
  background-color: var(--basic);
}
